@font-face {
    font-family: 'Gotham Light';
    src: url(../font/Gotham-Light.ttf);
}

@font-face {
    font-family: 'Gotham Black';
    src: url(../font/gothamblack.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf);
}

.container {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    max-width: 215px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo-unair {
    margin-left: 10px;
    margin-top: 10px;
    max-width: 60px;
    max-height: 57px;
    width: auto;
    height: auto;
}

.logo-ftmm {
    margin-left: 10px;
    margin-top: 10px;
    max-width: 137px;
    max-height: 37px;
    width: auto;
    height: auto;
}

.login-form {
    max-width: 450px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.login-container {
    display: flex;
    max-width: 450px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.title-1 {
    font-size: 24px;
    font-family: 'Gotham Black';
    color: #0C1421;
    margin: 0;
}

.text-1 {
    font-family: 'Gotham';
    font-size: 16px;
    text-align: justify;
    margin-top: 15px;
}

.input-group {
    margin-top: 15px;
}

.input-group label {
    font-family: "Roboto";
    display: block;
    font-size: 16px;
    color: #0C1421;
    font-weight: bold;
}

.input-group input {
    max-width: 100%;
    padding: 10px;
    font-family: "Roboto";
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #F7FBFF;
    border: 1px solid #D4D7E3;
    border-radius: 12px;
}

.forgot-password {
    font-family: "Roboto";
    font-size: 16px;
    text-align: left;
    margin-top: 15px;
}

.forgot-password a {
    color: #1E4AE9;
    font-family: "Roboto";
    font-size: 15px;
    text-decoration: none;
}

form {
    max-width: 100%;
}

button {
    max-width: 100%;
    padding: 10px;
    background-color: #FBC505;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-family: 'Roboto';
    color: black;
    cursor: pointer;
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.4);
    margin-top: 15px;
}

button:hover {
    background-color: #e0a800;
}

.register {
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto';
    margin-top: 10px;
}

.register a {
    color: #1E4AE9;
    text-decoration: none;
}

.text-2 {
    font-size: 14px;
    font-family: "Roboto";
    text-align: left;
    color: grey;
    margin-top: 20px;
}

.image-container {
    flex: 1;
    overflow: hidden;
    position: relative;
    display: none;
    max-width: 100%;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Media Queries for different devices */
@media (min-width: 1024px) and (max-width: 1440px) {
    .container {
        flex-direction: row;
        align-items: flex-start;
    }
    .login-form {
        max-width: 60%;
        width: 100%;
    }
    .image-container {
        display: flex;
        max-width: 40%;
        width: 100%;
        margin-top: 20px;
    }
    .image-container img {
        border-radius: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .login-form {
        max-width: 80%;
        width: 100%;
    }
    .image-container {
        display: flex;
        max-width: 80%;
        width: 100%;
        margin-top: 20px;
    }
    .image-container img {
        border-radius: 15px;
    }
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .login-form {
        max-width: 90%;
        width: 100%;
        padding: 10px;
    }
    .image-container {
        display: flex;
        max-width: 90%;
        width: 100%;
        margin-top: 10px;
    }
    .image-container img {
        border-radius: 10px;
    }
}
