@font-face {
    font-family: 'Gotham Light';
    src: url(../font/Gotham-Light.ttf);
}

@font-face {
    font-family: 'Gotham Black';
    src: url(../font/gothamblack.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf);
}


.container {
    display: flex;
    background-color:white;
    width : 1920px;
    height: 1080px;
}

.logo-container {
    display: flex;
    width: 215px;
    align-items: center;
    justify-content: space-between;
}

.logo-unair {
    margin-left: 50px;
    margin-top: 26px;
    width : 60px;
    height: 57px;
}

.logo-ftmm {
    margin-left: 10px;
    margin-top: 30px;
    width: 137px;
    height: 37px;
}

.login-form {
    width: 388px;
    height: 452px;
    padding-left: 18px;
    padding-top: 30.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 249px;
    margin-top: 250px;

}

.login-container {
    display: flex;
    margin-left: 249px;
    margin-top: 250px;
    width: 450px;
    height: 488px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    
}

.title-1 {
    width: 388px;
    height: 72px;
    font-size: 36px;
    font-family: 'Gotham Black';
    color: #0C1421;
    margin: 0;
    margin-top: 200px;
}


.text-1{
    width: 335px;
    height: 96px;
    font-family: 'Gotham';
    font-size: 20px;
    text-align: justify;
    margin-top: 25px;
}

.input-group {
    width: 388px;
    height: 48px;
    margin-top: 30px;
}

.input-group label {
    font-family:"Roboto" ;
    width: 80px;
    height: 16px;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #0C1421;
    font-weight: bold;
    margin-top: 24px;
}

.input-group input {
    width: 310px;
    padding: 10px;
    font-family:"Roboto";
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #F7FBFF;
    border: 1px solid #D4D7E3;
    border-radius: 12px;
    
}

.forgot-password {
    width: 123px;
    height: 16px;
    font-family:"Roboto";
    font-size: 16px;
    text-align: left;
    margin-top: 36px;
}

.forgot-password a {
    color: #1E4AE9;
    font-family: "Roboto";
    font-size: 15px;
    text-decoration: none;
    margin-top: 24px;
}

form {
    width: 321px;
}

button {
    width: 330px;
    height: 72;
    padding: 10px;
    background-color: #FBC505;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-family: 'Roboto';
    color: black;
    cursor: pointer;
    box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.4);
    margin-top: 24px;
}

button:hover {
    background-color: #e0a800;
}

.register {
    width: 321px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto';
    margin-top: 15px;
}

.register a {
    color: #1E4AE9;
    text-decoration: none;

}

.text-2{
    width: 360px;
    font-size: 15px;
    font-family: "Roboto";
    text-align: left;
    color: grey;
    margin-top: 190px;
    
}

.image-container {
    flex: 800;
    overflow: hidden;
    position: relative;
    width: 640px;
    height: 893px;
    display: flex;
    margin-top: 93px;
    margin-left: 75px;
}

.image-container img {
    width: 640px;
    height: 893px;
}

.building-image {
    width: 640px;
    height: 893px;
    margin-left: 275px;
    border-radius: 90px;
}
   


