@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Black';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
    font-weight: bold;
    font-style: normal;
}

/* Register Page Mhs */
body {
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #FFFFFF;
}

/* Intro */
.main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 28px;
    position: absolute;
    width: 400px;
    height: 36px;
    left: 770px;
    top: 108px;
    font-family: 'Montserrat Black', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #0C1421;
}

/* Login Form */
.regist-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 48px;
    isolation: isolate;
    position: absolute;
    width: 388px;
    height: 633px;
    left: calc(50% - 194px);
    top: 300px;
}

/* Form */
.regist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    gap: 24px;
    width: 388px;
    height: 456px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 8px;
    width: 388px;
    height: 72px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.input-group label {
    width: auto;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #0C1421;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.input-group input {
    width: 388px;
    height: 48px;
    position: relative;
    background: #F7FBFF;
    border: 1px solid #D4D7E3;
    border-radius: 12px;
}

.input-group input::placeholder {
    position: absolute;
    left: 16px;
    top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #8897AD;
    margin-top: -25px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    gap: 10px;
    width: 388px;
    height: 42px;
    background: #FBC505;
    border-radius: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.button span {
    margin: 0 auto;
    width: 91px;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #080808;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sudah-punya-akun {
    width: 382px;
    height: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    margin-left: 96px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #122B31;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
    margin-top: 29px;
}

/* Logos */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 930px;
}

.logo-unair {
    width: 60px;
    height: 57px;
    background-size: contain;
}

.logo-ftmm {
    width: 147px;
    height: 37px;
    background-size: contain;
}

.font-paling-bawah {
    width: 100%;
    height: 16px;
    position: absolute;
    bottom: 20px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.01em;
    color: #959CB6;
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;
}
